@{
    ViewBag.Title = "Index";
}

<h2>Testing MVC controller call SignalR method</h2>
<br/><br/>

<a href="/Home/Listener" target="_blank">Open this listener page first</a>
<br /><br />

<form id="my-form" class="bs-example form-horizontal" method="post" enctype="multipart/form-data">
    <fieldset>
        <input type="text" placeholder="Message" name="message" />
        <button type="submit" class="btn btn-primary btn-normal" name="button" value="ok">OK</button>
    </fieldset>
</form>

